.navbar {
    max-width: 80%;
    margin: 0 auto;
    z-index: 0;
}

.nav-item:hover {
    color: red;
    border-bottom: 1px solid red;
    padding-bottom: 5px;
    transition: .5s;
}

.active {
    color: red;
    border-bottom: 1px solid red;
    padding-bottom: 5px;

}

@media screen and (max-width:640px) {

    .not-open,
    .is-open {
        background: #f8f7f7;
        position: absolute;
        width: 100%;
        padding: 10%;
        transition: .5s;
        top: 60px;
        /* transform: translateX(-100%); */
    }

    .navitem {
        margin-bottom: 15px;
    }

    .is-open {
        left: 0;
    }

    .not-open {
        left: -642px;
    }

}